<% layout('layouts/boilerplate') %>
    <style>
        .alert p {
            word-wrap: break-word;
            /* Breaks long words */
            white-space: pre-wrap;
            /* Preserves new lines and indentation */
        }
    </style>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <p>
                    <%= err.stack %>
                </p>
            </div>
        </div>
    </div>