body {
  background-color: #f4f1ec;
  color: #2c2c2c;
}

.navbar {
  background-color: #2f5d50 !important;
}

.navbar a {
  color: #f4f1ec !important;
}

.btn-primary {
  background-color: #2f5d50;
  border-color: #2f5d50;
}

.btn-primary:hover {
  background-color: #244b40;
}

.card {
  border-radius: 12px;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

#map {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

#cluster-map {
  width: 100%;
  height: 450px; /* REQUIRED */
  margin-bottom: 2rem;
  border-radius: 12px;
}
